@model IEnumerable<Webmotors.UI.Models.AdViewModel>
@{
    ViewData["Title"] = "Gestão de Anúncios";
}
<p>
    <a asp-action="Create">Criar anúncio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Versão</th>
            <th>Ano</th>
            <th>KM</th>
            <th>Obs.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="9" class="text-center">Nenhum registro encontrado</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a href="javascript:deletarAd(@item.Id)">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        function deletarAd(id) {
            if (confirm("Deseja deletar?")) {
                $.ajax({
                    url: "/Home/DeletarAd?id=" + id,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {
                        window.location.href = "/";
                    },
                    error: function (jqXHR) {
                        alert(jqXHR.responseText);
                    }
                });
            }
            return false;
        }
    </script>
}